@model Application.ViewModels.Orders.OrderEditViewModel

@{
    ViewData["Title"] = "Edit";
    var error = TempData["errorMessage"]?.ToString();
}
@if (!string.IsNullOrWhiteSpace(error))
{
    <div class="alert alert-danger">
        <strong>Error! </strong>@error
    </div>
}

<h1>Edit</h1>
<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" value="@Model.Number" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-md-6 form-inline">
                    <label asp-for="Date" class="control-label"></label>
                    @{
                        // TODO: change datepicker to display datetime
                    }
                    <input asp-for="Date" class="form-control datepicker" type="datetime-local" value="@Model.Date" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 form-inline">
                    <label asp-for="Providers" class="control-label"></label>
                    <select asp-items="new SelectList(Model.Providers, nameof(Model.Provider.ProviderId), nameof(Model.Provider.Name), Model.Provider.ProviderId)" class="form-control form-control-sm dropdown" id="providerNameSelect" name="providerId"></select>
                </div>
            </div>

            <h4>Order Elements</h4>
            <hr />
            <div class="table" id="elements">
                @{
                    var index = 0;
                    @for (var i = 0; i < Model.OrderItems.Count; i++)
                    {
                        var itemId = $"element-{i}";
                        <div id="@itemId" style="margin-bottom: 20px">
                            <tr>
                                <input asp-for="OrderItems[i].OrderItemId" type="hidden" />
                                <input asp-for="OrderItems[i].OrderId" type="hidden" value="@Model.OrderId" />
                                <td>
                                    <label asp-for="OrderItems[i].Name" class="control-label"></label>
                                    <input asp-for="OrderItems[i].Name" class="form-control" />
                                    <span asp-validation-for="OrderItems[i].Name" class="text-danger"></span>
                                </td>
                                <td>
                                    <label asp-for="OrderItems[i].Quantity" class="control-label"></label>
                                    <input asp-for="OrderItems[i].Quantity" class="form-control" />
                                    <span asp-validation-for="OrderItems[i].Quantity" class="text-danger"></span>
                                </td>
                                <td>
                                    <label asp-for="OrderItems[i].Unit" class="control-label"></label>
                                    <input asp-for="OrderItems[i].Unit" class="form-control" />
                                    <span asp-validation-for="OrderItems[i].Unit" class="text-danger"></span>
                                </td>
                            </tr>
                        </div>
                        index++;
                    }
                }
            </div>
            <div class="form-group">
                <input class="btn-light" id="btnAddNew" type="button" value="add new" />
                <input id="btnRemove" type="button" value="remove" />
            </div>
            <div class="form-group">
                <input asp-action="Edit" asp-controller="Orders" class="btn btn-primary" type="submit" value="Save" />
            </div>
        </form>
        
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts
{
    <partial name="CreateEditForm"/>
    <partial name="_ValidationScriptsPartial"/>
}
